<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>


    <section>
      <form action="/login" method="POST">
        <div class="form-control">
           <label for="email">Email</label>
           <input type="text" value="email"  placeholder="enter your email">
        </div>
        <div class="form-control">
            <label for="password">password</label>
            <input type="password" value="password">

        </div>
        <input class="btn btn-default" type="submit" name="" value="login">
      </form>
      <p>Don't have an account? <span> join the club:) </span></p>
    </section>




  </body>
</html>
