<!DOCTYPE html>
<html>
<head>
  <title>Resources</title>
    <!-- Responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- External Styles -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/style.css" type="text/css" />

  <!-- External Scripts -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>
<body>

    <!-- Top nav bar (fixed) -->
    <nav id="nav-bar">
      <img class="logo" src="/images/bird.png">
      <span class="header">Pinterest RipOff</span>
      <div class="compose">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        <span>Something</span>
      </div>
    </nav>

    <!-- Page-specific (main) content here -->
    <main class="container">

      <section class="new-resource">

        <h2>Add New Resource</h2>
        <form action="/resources" method="POST">
          <textarea name="title" placeholder="title"></textarea>
          <textarea name="url" placeholder="url"></textarea>
          <textarea name="description" placeholder="description"></textarea>
          <textarea name="thumbnail" placeholder="thumbnailurl"></textarea>

          <input type="submit" value="Add">
        </form>
      </section>

      <section id="resource-container"></section>
    </main>

</body>
</html>
