<!DOCTYPE html>
<html>
  <head>
    <title>create resources</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />

    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <link rel="stylesheet" href="/styles/style.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  </head>
<body>


    <section>
      <form class="resource-submit" action="/home/resources/new" >
        <div class="form-control">
           <label for="category">Category</label>
           <input id="category" type="text" placeholder="category">
        </div>
        <div class="form-control">
            <label for="title">Title</label>
            <input id="title" type="text" placeholder="resource title">
        </div>
        <div class="form-control">
            <label for="title">Url</label>
            <input id="url" type="text" placeholder="www.myweb.com">
            <span class="errorMessage alert alert-caution">Please Enter Valid Url!</span>
        </div>
        <div class="form-control">
            <label for="title">Thumbnail Url</label>
            <input id="thumburl" type="text" placeholder="www.google.com/myimage.png">
            <span class="errorMessage alert alert-caution">Please Enter Valid Url!</span
        </div>
        <div class="form-control">
            <label for="title">Description</label>
            <input id="description" type="text" placeholder="description">
        </div>
        <input class="btn btn-default" type="submit" name="" value="submit">
      </form>
    </section>



  <script type="text/javascript" src="/scripts/new-resource.js"></script>
  <script type="text/javascript" src="/scripts/utils/text-utils.js"></script>

</body>
</html>
